.filter {
  &__label {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
  }

  &__control {
    min-height: 61px;
    width: 100%;
    display: flex;
    background-color: #f5f5f5;
    font-size: 18px;
  }
}
