.header {
  &__container {
    padding: 35px 0;
    border-bottom: 1px solid #bdbdbd;
  }
  &__logo {
    min-width: calc(#{$gridWidth} + 20px);
  }
  margin-bottom: 80px;
}
.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 18px;
    margin-right: 40px;

    &._foregrounded {
      position: relative;
      z-index: 6;
    }

    &:nth-child(2) {
      margin-right: auto;
    }
    &:last-child {
      margin-right: 0;
    }
    &._active {
      color: $additionalColor;
    }
  }

  &__link {
    border: none;
    color: inherit;
    background: none;
    font-size: inherit;
    transition: 0.5s;
    &._active {
      color: $additionalColor;
    }
  }
}
