.products {
  padding: 120px 0;
  &__title {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 20px;
    align-items: stretch;
  }

  &__product {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
